@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$font-lato:'Lato', sans-serif;
$main-color:#007934;
$second-color:#37B04A;
$third-color:#485563;
$forth-color:#323E48;
$fifth-color:#3B4854;
$sixth-color:#97CA3F;
$main-deep:#6D6D6D;
$color-nav:#6A737B;
$color-text:#231815;
$transition-main:0.4s ease-out;
$common-transition: 0.5s ease-in-out;
$second-transition: 0.3s;

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: $main-deep;
    letter-spacing: 0.05em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $main-deep;
    text-decoration: none;
    &:hover {
        color: $main-deep;
        text-decoration: none;
    }
}

input, button {
    background-color: transparent;
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

input {
    border: 1px solid $main-deep;
    height: 50px;
    padding: 10px 15px;
    &::placeholder {
        color: #A6ACB1;
        font-weight: 300;
    }
}

main {
    padding-top: 100px;
    overflow: hidden;
}

// main {
//     min-height: calc(100vh - 391px);
//     padding-top: 100px;
//     &.home-main {
//         padding-top: 0;
//     }
// }

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    &-more {
        display: block;
        padding: 12px 57px;
        border: 1px solid $third-color;
        color: $third-color;
        width: fit-content;
        position: relative;
        transition: $transition-main;
        img, svg {
            width: 7px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-4px);
            // transform: translateY(-50%);
            transition: $transition-main;
        }
        img {
            &.normal {

            }
            &.hover {
                opacity: 0;
            }
        }
        span {
            font-size: 14px;
        }
        &:hover {
            background-color: #fff;
            border-color: $third-color;
            color: $third-color;
            
        }
        &-point {
            &:hover {
                background-color: $third-color;
                color: #fff;
                img {
                    &.normal {
                        opacity: 0;
                    }
                    &.hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.cover-box {
    position: relative;
    &_img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.banner-common {
    width: 100%;
    padding-bottom: 29.95%;
}

.breadcrumb {
    padding: 20px 0 75px;
    position: relative;
    &-item {
        font-size: 14px;
        &.active {
            color: $main-color;
        }
    }
    a {
        font-size: 14px;
        color: #A6ACB1 !important;
        transition: $common-transition;
        &:hover {
            color: $main-color;
        }
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    color: #A6ACB1;
}

.tab {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    &_link {
        display: block;
        margin: 0 30px;
        border: 1px solid $third-color !important;
        color: $third-color;
        padding: 18px 90px;
        transition: $common-transition;
        border-radius: 0 !important;
        &.active, &:hover {
            color: #fff !important;
            background-color: $third-color !important;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.title {
    &-page {
        text-align: center;
        font-weight: 500;
        color: #231815;
        padding-bottom: 15px;
        margin-bottom: 90px;
        font-size: 40px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 80px;
            height: 3px;
            background-color: $main-color;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
        }
    }
    &-content {
        text-align: center;
        padding-bottom: 37px;
        border-bottom: 1px solid $main-deep;
        margin-bottom: 77px;
        color: $color-text;
        font-size: 32px;
    }
}

.mb-footer {
    margin-bottom: 170px;
}

.pb-footer {
    padding-bottom: 150px;
}

.text-common {
    font-weight: 300;
    line-height: 1.8;
    // font-size: 17px;
    margin: 0;
    text-align: justify;
    font-size: 19px;
}

.pagination {
    margin-top: 123px;
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
            margin-left: 13px;
            a {
                width: 50px;
                height: 50px;
                border: 1px solid $fifth-color;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-text;
                font-size: 18px;
                img {
                    width: 20%;
                }
            }
        }
    }
    span {
        color: $color-text;
        margin-left: 13px;
        font-size: 18px;
    }
}

.table {
    &-common {
        width: 100%;
        text-align: center;
        color: $color-text;
        font-size: 19px;
        font-weight: 300;
        td {
            padding: 20px 40px;
            border-bottom: 1px solid $main-deep;
            border-right: 1px solid $main-deep;
            &.table-common_title {
                border-bottom: 0;
            }
            &:last-child {
                border-right:0;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom:0;
                }
            }
            &:nth-child(even) {
                td {
                    background-color: #fff;
                }
            }
        }
        &_title {
            background-color: #A6ACB1;
            font-size: 32px;
            font-weight: normal;
            color: #fff;
            padding: 15px;
            padding: 20px 15px;
        }
        &_name {
            text-align: left;
        }
        &_secondTitle {
            font-weight: 500;
            border-bottom: 1px solid $main-color !important;
        }
    }
    &-invest {
        border-top: 3px solid $main-color;
        border-bottom: 3px solid $main-color;
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 19px;
        color: $color-text;
        &_title {
            background-color: #F8F8F8;
            font-weight: 500;
        }
        td {
            padding: 25px 40px;
            border-bottom: 1px solid $main-deep;
            border-right: 1px solid $main-deep;
            &:last-child {
                border-right:0;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom:0;
                }
            }
        }
    }
}

.report {
    &.certify {
        margin-bottom: 90px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_item {
        padding: 18px 86px;
        border-bottom: 1px solid #6D6D6D;
        transition: $common-transition;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        &:first-child {
            border-top: 1px solid #6D6D6D;
        }
        &:hover {
            background-color: #F8F8F8;
            .report_download {
                opacity: 1;
            }
        }
        p {
            margin: 0;
            width: calc(100% - 30px - 35px);
            padding: 0 15px;
            color: #231815;
            font-size: 19px;
        }
    }
    &_pdf {
        width: 30px;
    }
    &_download {
        width: 35px;
        opacity: 0;
        transition: $common-transition;
    }
    &_title {
        background-color: #F8F8F8;
        cursor: default;
        h3 {
            color: #231815;
            margin: 0;
            font-size: 28px;
        }
    }
}

@media screen and (max-width:991px) {
    main {
        padding-top: 80px;
    }
    .breadcrumb {
        padding-bottom: 40px;
    }
    .tab {
        &_link {
            padding: 18px 65px;
            margin: 0 25px;
            font-size: 17px;
        }
    }
    .title {
        &-page {
            margin-bottom: 70px;
        }
    }
    .table-common {
        font-size: 16px;
        td {
            padding: 13px 25px;
        }
    }
    .report {
        &_item {
            padding-left: 40px;
            padding-right: 40px;
        }
        &_download {
            opacity: 1;
        }
        &_title {
            h3 {
                font-size: 22px;
            }
        }
    } 
}

@media screen and (max-width:767px) {
    .banner-common {
        padding-bottom: 60%;
    }
    .breadcrumb {
        padding-left: 20px;
        padding-right: 20px;
        max-width: none;
    }
    .tab {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
        &_link {
            padding: 15px 37px;
            margin: 0 10px;
        }
    }
    .title {
        &-content {
            padding-bottom: 18px;
            margin-bottom: 30px;
        }
        &-page {
            margin-bottom: 60px;
            font-size: 36px;
        }
    }
    .mb-footer {
        margin-bottom: 75px;
    }
    .pb-footer {
        padding-bottom: 75px;
    }
    .pagination {
        margin-top: 50px;
        ul {
            li {
                margin-left: 10px;
                a {
                    width: 40px;
                    height: 40px;
                    font-size: 14px;
                }
            }
        }
        span {
            font-size: 14px;
        }
    }
    .report {
        &_item {
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            font-size: 16px;
            width: calc(100% - 25px - 30px);
        }
        &_pdf {
            width: 25px;
        }
        &_download {
            width: 30px;
        }
    }
}

@media screen and (max-width:575px) {
    .tab {
        &_link {
            padding: 15px 30px;
            // font-size: 14px;
        }
    }
    .breadcrumb {
        padding-bottom: 25px;
    }
    .title-page {
        margin-bottom: 40px;
        font-size: 32px;
    }
    .tab {
        margin-bottom: 30px;
    }
    .breadcrumb {
        a {
            font-size: 13px;
        }
    } 
    .table {
        &-common {
            &_title {
                font-size: 28px;
            }
        }
        &-invest {
            font-size: 16px;
            td {
                padding: 15px 25px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .tab {
        padding-left: 0;
        padding-right: 0;
        &-resp {
            .tab_link {
                padding: 13px;
            }
        }
    }
}

@media screen and (max-width:350px) {
    .tab {
        &-resp {
            .tab_link {
                margin-left: 5px;
                margin-right: 5px;
                padding: 13px 10px;
            }
        }
    }
    .table-common {
        font-size: 14px;
        td {
            padding: 13px 20px;
        }
    }
}