.esg {
    &_content {
        margin-bottom: 125px;
    }
    &_target {
        position: relative;
        .title-page {
            margin-bottom: 66px;
        }
        &_slider {
            // padding-top: 177px;
                background: linear-gradient(to right, #92c400 0%, #008647 100%);
                border-radius: 30px 30px 0 0;
            .swiper-pagination {
                position: static;
                width: 100%;
                // height: 177px;
                display: flex;
                &-bullet {
                    width: 33.3333%;
                    height: 100%;
                    background-color: transparent;
                    padding-top: 95px;
                    padding-bottom: 32px;
                    opacity: 1;
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                    span {
                        display: inline-block;
                        padding: 11px 48px;
                        border-radius: 15px;
                        transition: 0.3s;
                    }
                    &:first-child {
                        &.swiper-pagination-bullet-active, &:hover {
                            span {
                                background: linear-gradient(to right, rgba(255,236,0,0.1) 0%,#ffec00 50%, rgba(255,236,0,0.1) 100%);
                            }
                        }
                    }
                    &:nth-child(2) {
                        &.swiper-pagination-bullet-active, &:hover {
                            span {
                                background: linear-gradient(to right, rgba(64,222,223,0.1) 0%,#40dedf 50%, rgba(64,222,223,0.1) 100%);
                            }
                        }
                    }
                    &:nth-child(3) {
                        &.swiper-pagination-bullet-active, &:hover {
                            span {
                                background: linear-gradient(to right, rgba(170,232,0,0.1) 0%,#aae800 50%, rgba(170,232,0,0.1) 100%);
                            }
                        }
                    }
                    &-active, &:hover {
                        span {
                            color: $fifth-color;
                        }
                    }
                }
            }
        }
        &_bg {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &.envi {
                background-image: url(../img/environment-bg.png);
                .highlight, h4 {
                    color: #ffe410;
                }
            }
            &.soci {
                background-image: url(../img/social-bg.png);
                .highlight, h4 {
                    color: #3aebe6;
                }
            }
            &.mena {
                background-image: url(../img/manage-bg.png);
                .highlight, h4 {
                    color: #caff00;
                }
            }
        }
        &_left {
            width: 33.3333%;
            .inner {
                width: 100%;
                padding-bottom: 200%;
                position: relative;
            }
        }
        &_right {
            width: 66.6666%;
            .inner {
                width: 50%;
                padding-bottom: 50%;
                position: relative;
            }
        }
        &_text {
            width: 100%;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h4 {
                font-size: 29px;
                margin-bottom: 20px;
            }
            p {
                font-size: 19px;
                font-weight: 500;
                color: #fff;
            }
        }
        &_prev, &_next {
            top: calc((100% - 197px) / 2 + 197px);
            transform: translateY(-50%);
        }
        &_prev {
            left: -55px;
        }
        &_next {
            right: -55px;
        }
        @media screen and (max-width: 1300px) {
            padding-left: 50px;
            padding-right: 50px;
            .container {
                max-width: inherit;
                padding: 0;
            }
            &_prev {
                left: -35px;
            }
            &_next {
                right: -35px;
            }
        }
        @media screen and (max-width: 991px) {
            &_slider {
                .swiper-pagination-bullet {
                    padding-top: 45px;
                    padding-bottom: 15px;
                    font-size: 24px;
                    span {
                        padding: 5px 35px;
                    }
                }
            }
            &_text {
                h4 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                }
            }
            &_prev, &_next {
                top: calc((100% - 106px) / 2 + 106px);
            }
        }
        @media screen and (max-width: 767px) {
            &_left, &_right {
                width: 100%;
                .inner {
                    width: 100%;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
            &_text {
                position: static;
                transform: none;
            }
        }
        @media screen and (max-width: 575px) {
            padding-left: 0;
            padding-right: 0;
            &_prev, &_next {
                z-index: 1;
                .cls-1 {
                    stroke: #fff;
                }
            }
            &_prev {
                left: 10px;
            }
            &_next {
                right: 10px;
            }
            &_slider {
                .swiper-pagination-bullet {
                    font-size: 18px;
                    span {
                        padding: 5px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    &_arrow {
        position: absolute;
        width: 21px;
        height: 42px;
        display: flex;
        overflow: visible;
        svg {
            width: 100%;
            overflow: visible;
            .cls-1 {
                transition: $transition-main;
            }
        }
        &:hover {
            .cls-1 {
                stroke-width:12px;
            }
        }
    }
    &_prize {
        &_content {
            padding: 32px 42px;
            border-radius: 30px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }
        &_pic {
            width: 100%;
            padding-bottom: 113%;
            position: relative;
            background-image: url(../img/prize.svg);
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            &_inner {
                width: 100%;
                position: absolute;
                top: 17.3%;
                img {
                    width: 17px;
                    display: block;
                    margin: 0 auto 8px;
                }
                .line {
                    width: 55px;
                    height: 1px;
                    background-color: #595757;
                    margin: 0 auto 8px;
                }
                p {
                    margin: 0;
                    text-align: center;
                    font-size: 24px;
                    color: #595757;
                    font-weight: 600;
                }
            }
        }
        &_text {
            font-size: 19px;
            font-weight: 600;
            margin: 0;
            line-height: 1.875;
            color: $main-deep;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: $transition-main;
        }
        &_item {
            &:hover {
                .esg_prize_text {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &_prev, &_next {
            top: 50%;
            transform: translateY(-50%);
        }
        &_prev {
            left: -55px;
        }
        &_next {
            right: -55px;
        }
        @media screen and (max-width: 1199px) {
            &_pic {
                &_inner {
                    p {
                        font-size: 20px;
                    }
                }
            }
            &_text {
                font-size: 16px;
                line-height: 1.5;
            }
        }
        @media screen and (max-width: 991px) {
            padding-left: 50px;
            padding-right: 50px;
            .container {
                max-width: inherit;
                padding: 0;
            }
            &_prev {
                left: -35px;
            }
            &_next {
                right: -35px;
            }
            &_text {
                opacity: 1;
                visibility: visible;
            }
        }
        @media screen and (max-width: 575px) {
            &_content {
                padding: 30px 15px;
            }
            &_pic {
                &_inner {
                    p {
                        font-size: 24px;
                    }
                }
            }
            &_text {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
    &_round {
        padding: 8vw 0;
        &_inner {
            width: 1015px;
            height: 1015px;
            position: relative;
            margin: 0 auto;
        }
        &_envi {
            position: absolute;
            width: 92%;
            height: 92%;
            border-radius: 50%;
            background: repeating-conic-gradient(
                #1A8013 -157.5deg,
                #8FDF00 -22.5deg,
                transparent -22.5deg,
                transparent 202.5deg
            );
        }
        &_soci {
            position: absolute;
            width: 71%;
            height: 71%;
            border-radius: 50%;
            background: repeating-conic-gradient(
                #00C8FF -22.5deg,
                #006EA2 68.5deg,
                transparent 68.5deg,
                transparent 337.5deg
            );
        }
        &_comp {
            position: absolute;
            width: 82%;
            height: 82%;
            border-radius: 50%;
            background: repeating-conic-gradient(
                #FFFF00 68.5deg,
                #E69600 202.5deg,
                transparent 202.5deg,
                transparent 428.5deg
            );
        }
        &_title {
            position: absolute;
            width: 31%;
            height: 31%;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &_text {
                text-align: center;
                color: #000;
                h4 {
                    font-size: 36px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 24px;
                    margin: 0;
                }
            }
        }
        &_item {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $transition-main;
            &.active {
                width: 100%;
                height: 100%;
            }
        }
        &_icon {
            width: 13%;
            height: 13%;
            position: absolute;
            top: 50%;
            // left: 15%;
            // left: 50%;
            left: 17.5%;
            transform: translate(0, -50%);
            &_img {
                // width: 13%;
                // height: 13%;
                width: 100%;
                height: 100%;
                position: absolute;
                transform: translateY(-50%) rotate(calc(360deg / 8 * var(--i)));
                transform-origin: 330px;
                top: 50%;
                left: 0;
                img {
                    width: 100%;
                    transform: rotate(calc(360deg / 8 * var(--i)));
                }
            }
        }
        &_text {
            &_line {
                position: absolute;
                width: 154px;
                transition: $transition-main;
            }
            &_item {
                transition: $transition-main;
                &.active {
                    .esg_round_text_inner {
                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &_title {
                font-size: 33px;
                cursor: pointer;
                font-weight: 600;
                margin: 0;
                white-space: nowrap;
                transition: $transition-main;
                .highlight {
                    font-size: 58px;
                }
                &.envi {
                    color: #7FB500;
                }
                &.soci {
                    color: #0086D6;
                }
                &.comp {
                    color: #FF6834;
                }
            }
            &_inner {
                position: absolute;
                transition: $transition-main;
                h5 {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                ul {
                    // display: none;
                    opacity: 0;
                    visibility: hidden;
                    transition: $transition-main;
                    li {
                        margin-top: 30px;
                        h6 {
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 8px;
                        }
                        p {
                            margin: 0;
                            color: #000;
                            font-size: 19px;
                            text-decoration: underline;
                            white-space: nowrap;
                        }
                    }
                }
            }
            &_envi {
                .esg_round_text {
                    &_line {
                        top: 16%;
                        left: 5%;
                    }
                    &_inner {
                        top: 11%;
                        left: -16%;
                        h5 {
                            color: #7FB500;
                        }
                        ul {
                            li {
                                h6 {
                                    color: #7FB500;
                                }
                            }
                        }
                    }
                }
                &.active {
                    .esg_round_text {
                        &_inner {
                            top: -1.5%;
                            left: -20%;
                        }
                    }
                }
            }
            &_soci {
                .esg_round_text {
                    &_line {
                        top: 10%;
                        left: 62%;
                    }
                    &_inner {
                        top: 5%;
                        left: 80%;
                        h5 {
                            color: #0086D6;
                        }
                        ul {
                            li {
                                h6 {
                                    color: #0086D6;
                                }
                            }
                        }
                    }
                }
                &.active {
                    .esg_round_text_line {
                        left: 71%;
                    }
                    .esg_round_text {
                        &_inner {
                            top: -7%;
                            left: 88%;
                        }
                    }
                }
            }
            &_comp {
                .esg_round_text {
                    &_line {
                        top: 80%;
                        left: 66%;
                    }
                    &_inner {
                        top: 87%;
                        left: 83%;
                        h5 {
                            color: #FF6834;
                        }
                        ul {
                            li {
                                h6 {
                                    color: #FF6834;
                                }
                            }
                        }
                    }
                }
                &.active {
                    .esg_round_text {
                        &_inner {
                            top: 74%;
                            // left: -20%;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1500px) {
            &_inner {
                width: 800px;
                height: 800px;
            }
            &_icon {
                &_img {
                    transform-origin: 260px;
                }
            }
            &_text {
                &_envi {
                    .esg_round_text {
                        &_inner {
                            top: 10%;
                            left: -20%;
                        }
                    }
                    &.active {
                        .esg_round_text_inner {
                            left: -28%;
                        }
                    }
                }
                &_soci {
                    .esg_round_text {
                        &_inner {
                            left: 83%;
                        }
                    }
                    &.active {
                        .esg_round_text_inner {
                            left: 93%;
                        }
                    }
                }
                &_comp {
                    .esg_round_text {
                        &_inner {
                            top: 89%;
                            left: 87%;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1300px) {
            &_text {
                &_line {
                    width: 100px;
                }
                &_envi {
                    .esg_round_text_line {
                        top: 8%;
                        left: 15%;
                    }
                    .esg_round_text_inner {
                        top: 2%;
                        left: -9%;
                    }
                    &.active {
                        .esg_round_text_inner {
                            left: -10%;
                        }
                    }
                }
                &_soci {
                    .esg_round_text_inner {
                        left: 76%;
                    }
                    &.active {
                        .esg_round_text_inner {
                            left: 79%;
                        }
                        .esg_round_text_line {
                            left: 63%;
                            top: 0;
                        }
                    }
                }
                &_comp {
                    .esg_round_text_inner {
                        left: 80%;
                        top: 85%;
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            &_text {
                &_line {
                    display: none;
                }
                &_inner {
                    position: static;
                    h5 {
                        &:hover {
                            transform: none;
                        }
                    }
                    ul {
                        opacity: 1;
                        visibility: visible;
                        li {
                            h6 {
                                font-size: 20px;
                            }
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
                &_item {
                    margin-bottom: 50px;
                }
                &_title {
                    font-size: 28px;
                    .highlight {
                        font-size: 50px;
                    }
                }
            }
        }
        @media screen and (max-width: 850px) {
            &_inner {
                width: 95%;
                height: 0;
                padding-bottom: 95%;
            }
            &_icon {
                &_img {
                    transform-origin: 31vw;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_title {
                h4 {
                    font-size: 30px;
                }
                p {
                    font-size: 20px;
                }
            }
            &_text {
                &_title {
                    font-size: 22px;
                    .highlight {
                        font-size: 42px;
                    }
                }
                &_inner {
                    ul {
                        li {
                            margin-top: 20px;
                            h6 {
                                font-size: 18px;
                            }
                            p {
                                font-size: 13px;
                                white-space:inherit;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_title {
                h4 {
                    font-size: 26px;
                }
                p {
                    font-size: 16px;
                }
            }
            &_text {
                &_title {
                    font-size: 24px;
                }
                &_inner {
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    ul {
                        li {
                            h6 {
                                font-size: 24px;
                                .highlight {
                                    font-size: 46px;
                                }
                            }
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
                &_item {
                    // width: fit-content;
                    // margin-left: auto;
                    // margin-right: auto;
                }
            }
        }
        @media screen and (max-width: 450px) {
            &_title {
                h4 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
}