.news {
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    &_item {
        display: block;
        height: 100%;
        background-color: #F8F8F8;
        cursor: pointer;
        &_pic {
            width: 100%;
            padding-bottom: 70%;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            padding: 15px 35px;
            h2 {
                font-size: 20px;
                color: $color-text;
                margin: 0 0 15px 0;
                letter-spacing: 0.05em;
                line-height: 1.5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
        &Box {
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 50px;
            &:nth-child(1),  &:nth-child(2),  &:nth-child(3) {
                margin-top: 0;
            }
        }
    }
    &_tag {
        position: absolute;
        padding: 5px 10px;
        background-color: #fff;
        color: $main-color;
        font-weight: 300;
        font-size: 14px;
        left: 0;
        bottom: 0;
    }
    &_date {
        color: $main-deep;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 10px;
    }
    &_more {
        text-align: right;
        font-size: 14px;
        margin: 0;
        color: $main-color;
        font-weight: 300;
    }
    &_content {
        margin-top: 100px;
        .title-news {
            text-align: center;
            font-size: 36px;
            color: $color-text;
            margin-bottom: 45px;
            line-height: 1.6;
        }
        .news_date {
            text-align: center;
            padding-bottom: 40px;
            margin-bottom: 80px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 60px;
                height: 3px;
                background-color: $main-color;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
        &_pic {
            width: 100%;
            margin-bottom: 80px;
        }
        &_writer {
            margin-top: 75px;
        }
        &_back {
            width: fit-content;
            display: block;
            background-color: $third-color;
            color: #fff;
            padding: 15px 80px;
            margin: 200px auto 0;
            transition: $common-transition;
            &:hover {
                background-color: $main-color;
                color: #fff;
            }
        }
    }
}

#newsModal {
    .modal-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
        width: 100%;
        max-width: 700px;
    }
    .modal-content {
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }
    .modal-body {
        padding: 0;
    }
    .news_videoBox {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        #news_video {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $main-color;
            top: 0;
            left: 0;
        }
        p {
            position: absolute;
            right: 0;
            margin: 0;
            cursor: pointer;
            top: calc(100% + 5px);
            color: $color-text;
        }
    }
}

@media screen and (max-width:767px) {
    .news {
        .row {
            margin-left: -13px;
            margin-right: -13px;
        }
        &_item {
            &Box {
                padding-left: 13px;
                padding-right: 13px;
                margin-top: 30px;
                &:nth-child(3) {
                    margin-top: 30px;
                }
            }
            &_text {
                padding: 15px 25px;
            }
        }
        &_content {
            .title-news {
                font-size: 32px;
                margin-bottom: 30px;
            }
            .news_date {
                padding-bottom: 30px;
                margin-bottom: 50px;
            }
            &_pic {
                margin-bottom: 50px;
            }
            &_writer {
                margin-top: 45px;
            }
            &_back {
                margin-top: 150px;
            }
        }
    }
}

@media screen and (max-width:700px) {
    #newsModal {
        .news_videoBox {
            p {
                right: 15px;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .news {
        &_content {
            margin-top: 50px;
            .title-news {
                font-size: 26px;
                margin-bottom: 20px;
            }
            .news_date {
                margin-bottom: 40px;
                padding-bottom: 20px;
            }
            &_pic {
                margin-bottom: 35px;
            }
            &_back {
                margin-top: 100px;
            }
        }

    }
}