.place {
    background-image: url(../img/place-bg.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    &_map {
        margin: 124px auto 142px;
        position: relative;
        &_bg {
            width: 90vw;
            margin: 0 auto 72px;
            display: block;
        }
        &_pin {
            position: absolute;
            cursor: pointer;
            .pin-shadow {
                width: 3.79vw;
                mix-blend-mode: multiply;
            }
            .pin {
                position: absolute;
                bottom: 45%;
                left: 50%;
                transform: translateX(-50%);
                width: 5vw;
            }
            &:hover {
                .place_map_list {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.pin {
                &-america {
                    top: 13vw;
                    left: 19vw;
                }
                &-maxico {
                    top: 21.5vw;
                    left: 13.7vw;
                }
                &-china {
                    top: 11vw;
                    left: 72vw;
                }
                &-japan {
                    top: 17.5vw;
                    left: 81.5vw;
                }
                &-taiwan {
                    top: 21.5vw;
                    left: 78.5vw;
                    .place_map_list {
                        ul {
                            li {
                                span {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &_list {
            position: absolute;
            top: calc(100% + 5px);
            left: 50%;
            transform: translateX(-50%);
            padding: 20px 15px;
            background-color: rgba(50, 62, 72, 0.8);
            color: #fff;
            // display: none;
            opacity: 0;
            visibility: hidden;
            z-index: 90;
            transition: $common-transition;
            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    font-size: 19px;
                    span {
                        font-weight: 500;
                        white-space: nowrap;
                    }
                    img {
                        width: 25px;
                        margin-left: 8px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &-m {
                width: 100%;
                padding: 0 20px;
                margin-bottom: 50px;
                .place_map_list {
                    display: none;
                    position: static;
                    transform: none;;
                    visibility: visible;
                    opacity: 1;
                    transition: none;
                }
            }
        }
        &_intro {
            width: 100%;
            >div {
                margin-left: 25px;
                &:first-child {
                    margin-left: 0;
                }
            }
            img {
                width: 35px;
                margin-right: 5px;
            }
            span {
                font-weight: 300;
                color: $color-text;
                transform: translateY(-1px);
                font-size: 19px;
            }
        }
    }
    &_list {
        width: 100%;
        h2 {
            font-size: 28px;
            color: $color-text;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 19px;
            color: $color-text;
            margin: -10px 0 15px;
        }
        ul {
            li {
                display: flex;
                margin-bottom: 10px;
                font-size: 19px;
                .inform {
                    &-title {
                        color: $color-text;
                        width: 70px;
                        // font-size: 18px;
                    }
                    &-content {
                        width: calc(100% - 70px);
                        padding-left: 13px;
                        font-weight: 300;
                        color: $main-deep;
                        transition: $common-transition;
                    }
                }
                a {
                    color: $main-deep;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
        &_bottom {
            display: flex;
            margin-top: 15px;
            a {
                color: $fifth-color;
                padding: 8px 20px;
                border-radius: 100px;
                border: 1px solid $fifth-color;
                // font-size: 14px;
                font-weight: 300;
                transition: $common-transition;
                &:hover {
                    background-color: $fifth-color;
                    color: #fff;
                }
            }
            img {
                width: 35px;
                margin-left: 16px;
            }
        }
        &_content {
            margin-bottom: 164px;
        }
    }
}

@media screen and (max-width:991px) {
    .place {
        &_list {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 16px;
            }
            ul {
                li {
                    font-size: 17px;
                }
            }
            &_content {
                margin-bottom: 60px;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .place {
        &_map {
            margin: 50px auto 60px;
            &_intro {
                >div {
                    width: 100%;
                    margin: 0 0 10px 0;
                    justify-content: center;
                }
            }
            &_pin {
                .pin {
                    width: 12vw;
                }
                &.pin {
                    &-maxico {
                        top: 18vw;
                        left: 14vw;
                    }
                    &-america {
                        top: 10vw;
                        left: 24vw;
                    }
                    &-taiwan {
                        top: 18.5vw;
                        left: 79vw;
                    }
                    &-japan {
                        top: 12.5vw;
                        left: 89.5vw;
                    }
                    &-china {
                        left: 68vw;
                    }
                }
                &:hover {
                    .place_map_list {
                        opacity: 0;
                        visibility: hidden;
                        display: none;
                    }
                }
            }
        }
    }
}