.work {
    &_text {
        font-size: 24px;
        color: $main-deep;
        font-weight: 300;
        text-align: center;
        margin: -53px 0 76px;
    }
    &_list {
        max-width: 1150px;
        padding: 0 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        &_item {
            padding: 52px 61px 52px 77px;
            background-color: #F8F8F8;
            border-bottom: 1px solid $main-deep;
            margin-bottom: 66px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            h2 {
                color: $main-color;
                font-size: 28px;
                margin-bottom: 15px;
            }
            p {
                margin: 0;
                font-weight: 300;
                color: $color-text;
                font-size: 19px;
                line-height: 1.7;
            }
            &_text {
                width: calc(100% - 107px);
                padding-right: 98px;
            }
            &_btn {
                width: 107px;
                a {
                    display: block;
                    color: #fff;
                    font-weight: 300;
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                    margin-top: 25px;
                    &.btn {
                        &-see {
                            background-color: #A6ACB1;
                        }
                        &-apply {
                            background-color: $main-color;
                        }
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &_select {
        margin-bottom: 45px;
        .year-select {
            margin: 0;
        }
    }
    &_search {
        label {
            color: $color-text;
            font-weight: 300;
            font-size: 19px;
            margin-right: 15px;
        }
        button {
            font-size: 14px;
            color: #fff;
            font-weight: 300;
            background-color: #A6ACB1;
            height: 50px;
            padding: 10px 38px;
            margin-left: 15px;
        }
        input {
            width: 430px;
        }
    }
    &_content {
        h2 {
            font-size: 24px;
            color: $main-color;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 40px;
            font-weight: 700;
            color: $color-text;
        }
        h3 {
            margin: 0;
        }
        &_title {
            padding-bottom: 83px;
            border-bottom: 1px solid $main-deep;
        }
        &_intro {
            padding: 48px 0;
            color: $color-text;
            border-bottom: 1px solid $main-deep;
            h3 {
                margin: 0;
                font-weight: 700;
                font-size: 19px;
                line-height: 1.5;
                width: 100px;
            }
            p {
                margin: 0;
                font-weight: 300;
                font-size: 19px;
                line-height: 1.5;
                width: calc(100% - 100px);
            }
            li {
                margin-bottom: 10px;
                display: flex;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &_detail {
            padding-top: 48px;
            padding-bottom: 261px;
            &_item {
                margin-bottom: 66px;
                &:last-child {
                    margin-bottom: 0;
                }
                ul {
                    li {
                        margin-bottom: 8px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                p, li {
                    color: $color-text;
                    font-weight: 300;
                    font-size: 19px;
                }
            }
        }
        &_btn {
            a {
                margin: 0 33px;
                width: 246px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 19px;
                font-weight: 300;
                &.btn {
                    &-back {
                        background-color: $third-color;
                    }
                    &-apply {
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}

.resume {
    &_title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $main-deep;
        h1 {
            font-size: 52px;
            color: $main-color;
            margin: 0;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            border-radius: 10px;
            border: 1px solid $main-color;
            margin-left: 24px;
            transition: $transition-main;
            // svg {
            //     width: 22px;
            //     margin-right: 9px;
            //     .cls-1 {
            //         transition: $transition-main;
            //     }
            // }
            .download_icon {
                width: 22px;
                height: 25px;
                position: relative;
                margin-right: 9px;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    top: 0;
                    left: 0;
                    transition: $transition-main;
                    &.hover {
                        opacity: 0;
                    }
                }
            }
            span {
                color: $main-color;
                font-weight: 300;
                transition: $transition-main;
            }
            &:hover {
                background-color: $main-color;
                .download_icon {
                    img {
                        &.normal {
                            opacity: 0;
                        }
                        &.hover {
                            opacity: 1;
                        }
                    }
                }
                span {
                    color: #fff;
                }
            }
        }
        p {
            width: 100%;
            font-weight: 300;
            font-size: 19px;
            margin-top: 52px;
            margin-bottom: 63px;
        }
    }
    &_data {
        padding: 48px 0;
        &_title {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-bottom: 13px;
            border-bottom: 3px solid $main-color;
            h2 {
                font-size: 28px;
                color: $color-text;
                margin-bottom: 5px;
            }
            p {
                color: $color-text;
                font-size: 19px;
                font-weight: 300;
                margin: 0;
                span {
                    color: #FF1815;
                }
            }
        }
        &_table {
            margin: 0;
            font-size: 19px;
            color: $color-text;
            >div {
                padding: 0;
            }
        }
        &_name {
            width: 203px;
            background-color: #F8F8F8;
            padding: 20px;
            text-align: right;
            border-right: 1px solid $main-deep;
            border-bottom: 1px solid $main-deep;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            span {
                color: #FF1815;
            }
        }
        &_content {
            width: calc(100% - 203px);
            border-bottom: 1px solid $main-deep;
            padding: 20px 26px;
            font-weight: 300;
            display: flex;
            align-items: center;
            input {
                height: 45px;
                width: 100%;
                transition: $common-transition;
                &:hover {
                    border-color: $main-color;
                }
                &::placeholder {
                    color: $color-text;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
            #datepicker {
                background-image: url(../img/icon-arrow-date.svg);
                background-size: 16px;
                background-position: calc(100% - 20px) center;
                background-repeat: no-repeat;
            }
        }
        &_gender {
            display: flex;
            align-items: center;
            .gender {
                margin-right: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                &_circle {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid $color-text;
                    padding: 3px;
                    margin-right: 9px;
                    transition: $transition-main;
                    &_inner {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color: $main-color;
                        transition: $transition-main;
                        opacity: 0;
                    }
                }
                span {
                    font-size: 19px;
                    font-weight: 300;
                    color: $color-text;
                }
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    .gender_circle {
                        border-color: $main-color;
                        &_inner {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &_upload {
            padding-top: 27px;
            border-bottom: 1px solid $main-deep;
            &_item {
                display: flex;
                flex-wrap: wrap;
            }
            &_file {
                width: calc(100% - 156px - 16px);
                height: 57px;
                border: 1px solid $main-deep;
                padding: 10px 15px;
                color: $color-text;
                font-size: 19px;
            }
            &_btn {
                width: 156px;
                height: 57px;
                background-color: #A6ACB1;
                margin-left: 16px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                span {
                    color: #fff;
                    font-weight: 300;
                    font-size: 19px;
                }
            }
            p {
                width: 100%;
                color: $color-text;
                margin: 9px 0 15px;
            }
        }
    }
    &_btn {
        display: block;
        margin-top: 75px;
        width: 246px;
        height: 78px;
        color: #fff;
        background-color: $main-color;
        margin-left: auto;
        margin-right: auto;
        font-size: 19px;
        font-weight: 300;
    }
}

.welfare {
    .row {
        margin-left: -20px;
        margin-right: -20px;
        >div {
            padding-left: 20px;
            padding-right: 20px;
            &:first-child, &:nth-child(2) ,&:nth-child(3) {
                .welfare_item {
                    margin-top: 0;
                }
            }
        }
    }
    &_item {
        margin-top: 77px;
    }
    &_pic {
        width: 100%;
        padding-bottom: 70%;
        position: relative;
        margin-bottom: 33px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &_text {
        h2 {
            font-size: 36px;
            font-weight: 500;
            color: $color-text;
            position: relative;
            padding-bottom: 33px;
            margin-bottom: 33px;
            &::after {
                position: absolute;
                content: "";
                width: 70px;
                height: 1px;
                background-color: $main-color;
                left: 0;
                bottom: 0;
            }
        }
        ul {
            width: 75%;
            li {
                font-size: 19px;
                font-weight: 300;
                position: relative;
                margin-bottom: 8px;
                padding-left: 17px;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $main-color;
                    top: 10px;
                    left: 0;
                }
            }
        }
    }
}



@media screen and (max-width:991px) {
    .work {
        &_text {
            margin-top: -17px;
        }
        &_select {
            .year-select {
                select {
                    width: 549px;
                }
                margin-bottom: 25px;
            }
        }
        &_list {
            &_item {
                padding: 30px 40px;
                &_text {
                    padding-right: 45px;
                }
            }
        }
    }
    .welfare {
        .row {
            >div {
                &:nth-child(3) {
                    .welfare_item {
                        margin-top: 77px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .work {
        &_text {
            font-size: 20px;
            margin-bottom: 40px;
            padding: 0 20px;
        }
        &_select {
            .year-select {
                span {
                    width: 75px;
                    margin-right: 0;
                }
                select {
                    width: calc(100% - 75px);
                }
            }
        }
        &_search {
            label {
                width: 75px;
                margin-right: 0;
            }
            input {
                width: calc(100% - 75px - 104px - 15px);
            }
        }
        &_list {
            &_item {
                padding: 30px 20px;
                margin-bottom: 40px;
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
                &_text {
                    width: 100%;
                    padding-right: 0;
                }
                &_btn {
                    width: 100%;
                    display: flex;
                    margin-top: 25px;
                    a {
                        display: inline-block;
                        margin-right: 15px;
                        width: 107px;
                        margin-top: 0;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &_content {
            h2 {
                font-size: 22px;
                margin-bottom: 15px;
            }
            h1 {
                font-size: 36px;
            }
            &_title {
                padding-bottom: 50px;
            }
            &_intro {
                padding: 30px 0;
                h3 {
                    font-size: 17px;
                    width: 90px;
                }
                p {
                    font-size: 17px;
                    width: calc(100% - 90px);
                }
                li {
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
            &_detail {
                padding-bottom: 130px;
                &_item {
                    margin-bottom: 40px;
                    li, p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .resume {
        &_title {
            h1 {
                font-size: 38px;
            }
            a {
                padding: 8px 14px;
                .download_icon {
                    width: 18px;
                    height: 20px;
                }
            }
            p {
                margin: 30px 0 40px;
                font-size: 17px;
            }
        }
        &_data {
            padding: 30px 0;
            &_title {
                h2 {
                    font-size: 26px;
                }
                p {
                    font-size: 17px;
                }
            }
            &_table {
                font-size: 17px;
            }
            &_name {
                padding: 15px;
                width: 120px;
            }
            &_content {
                padding: 15px;
                width: calc(100% - 120px);
            }
            &_upload {
                &_file {
                    width: calc(100% - 120px - 16px);
                    height: 50px;
                }
                &_btn {
                    width: 120px;
                    height: 50px;
                }
            }
        }
    }
    .welfare {
        .row {
            margin-left: -15px;
            margin-right: -15px;
            >div {
                padding-left: 15px;
                padding-right: 15px;
                &:nth-child(3) {
                    .welfare_item {
                        margin-top: 50px;
                    }
                }
            }
        }
        &_pic {
            margin-bottom: 20px;
        }
        &_text {
            h2 {
                font-size: 32px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            ul {
                width: 100%;
                li {
                    font-size: 17px;
                }
            }
        }
        &_item {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width:575px) {
    .work {
        &_select {
            .year-select {
                flex-wrap: wrap;
                select {
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }
        &_search {
            flex-wrap: wrap;
            label {
                width: 100%;
                margin-bottom: 15px;
            }
            input {
                width: calc(100% - 107px - 15px);
            }
        }
        &_content {
            h1 {
                font-size: 32px;
            }
            &_btn {
                a {
                    margin: 0;
                    width: calc((100% - 20px) / 2);
                    height: 60px;
                    font-size: 17px;
                }
            }
        }
    }
    .tab-rescuit {
        .tab_link {
            width: calc((100% - 20px) / 2);
            text-align: center;
        }
    }
    .resume {
        &_title {
            h1 {
                width: 100%;
            }
            a {
                margin-left: 0;
                margin-top: 20px;
            }
        }
        &_data {
            &_upload {
                &_file {
                    width: 100%;
                }
                &_btn {
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }
        &_btn {
            margin-top: 50px;
            width: 200px;
            height: 60px;
        }
    }
    .welfare {
        .row {
            >div {
                &:nth-child(2) {
                    .welfare_item {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}