.resp {
    &_intro {
        position: relative;
        width: 100%;
        &_pic {
            padding-bottom: 39%;
        }
        &_text {
            position: absolute;
            width: 83%;
            background-color: rgba(255,255,255,0.9);
            padding: 65px 50px;
            left: 50%;
            bottom: 0;
            transform: translate(-50%,35%);
            h3 {
                text-align: center;
                color: $main-color;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p {
                color: #6D6D6D;
                margin: 0;
                font-weight: 300;
                line-height: 1.8;
                text-align: justify;
            }
        }
    }
}

.policy-pic {
    margin: 150px auto;
    display: block;
    max-width: 1200px;
    width: calc(100% - 40px);
}

.report {
    &.certify {
        margin-bottom: 70px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_item {
        padding: 15px 60px;
        border-bottom: 1px solid #6D6D6D;
        transition: $common-transition;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        &:first-child {
            border-top: 1px solid #6D6D6D;
        }
        &:hover {
            background-color: #F8F8F8;
            .report_download {
                opacity: 1;
            }
        }
    }
    &_pdf {
        width: 30px;
    }
    p {
        margin: 0;
        width: calc(100% - 30px - 35px);
        padding: 0 15px;
        color: #231815;
        font-size: 18px;
    }
    &_download {
        width: 35px;
        opacity: 0;
        transition: $common-transition;
    }
    &_title {
        background-color: #F8F8F8;
        cursor: default;
        h3 {
            color: #231815;
            margin: 0;
            font-size: 26px;
        }
    }
}

@media screen and (max-width:991px) {
    .resp {
        &_intro {
            &_pic {
                padding-bottom: 70%;
            }
            &_text {
                padding: 55px 40px;
                transform: translate(-50%, 45%);
            }
        }
    }
    .report {
        &_item {
            padding-left: 40px;
            padding-right: 40px;
        }
        &_download {
            opacity: 1;
        }
        &_title {
            h3 {
                font-size: 22px;
            }
        }
    } 
}

@media screen and (max-width:767px) {
    .resp {
        &_intro {
            &_text {
                padding: 45px 30px;
            }
        }
    }
    .policy-pic {
        margin-top: 200px;
    }
    .report {
        &_item {
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            font-size: 16px;
            width: calc(100% - 25px - 30px);
        }
        &_pdf {
            width: 25px;
        }
        &_download {
            width: 30px;
        }
    }
}

@media screen and (max-width:575px) {
    .resp {
        &_intro {
            &_pic {
                // padding-bottom: 100%;
            }
            &_text {
                width: 100%;
                position: static;
                transform: none;
                margin: 0 auto;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .policy-pic {
        margin-top: 30px;
        // margin-bottom: 80px;
    }
}

@media screen and (max-width:400px) {
    .resp {
        &_intro {
            &_text {
                // padding-top: 30px;
                padding-bottom: 30px;
                p {
                    font-size: 14px;
                }
            }
        }
    }
}