.resp {
    &_intro {
        position: relative;
        width: 100%;
        &_pic {
            padding-bottom: 39%;
        }
        &_text {
            position: absolute;
            width: 83%;
            background-color: rgba(255,255,255,0.9);
            padding: 65px 60px;
            left: 50%;
            bottom: 22%;
            transform: translate(-50%,35%);
            h3 {
                text-align: center;
                color: $main-color;
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 32px;
            }
            p {
                color: #6D6D6D;
                margin: 0;
                font-weight: 300;
                line-height: 1.8;
                text-align: justify;
                font-size: 19px;
                letter-spacing: 0.05em;
            }
        }
    }
}

.policy-pic {
    margin: 161px auto;
    display: block;
    max-width: 1200px;
    width: calc(100% - 40px);
}

.certify-table {
    width: 100%;
    tr {
        // display: flex;
        // align-items: center;
        // padding: 0 86px;
        &:first-child {
            td {
                border-top: 0;
            }
        }
        td {
            padding: 16px 30px;
            border-top: 1px solid #6D6D6D;
            text-align: center;
            white-space: nowrap;
        }
    }
    &_factory {
        background-color: #F8F8F8;
    }
    &_name {
        color: $color-text;
        font-size: 22px;
        font-weight: 600;
        width: 200px;
    }
    &_item {
        color: $color-text;
        font-size: 19px;
        a {
            img {
                width: 30px;
            }
        }
    }
    &-box {
        overflow-x: auto;
    }
}



@media screen and (max-width:991px) {
    .resp {
        &_intro {
            &_pic {
                padding-bottom: 70%;
            }
            &_text {
                padding: 55px 40px;
                transform: translate(-50%, 45%);
            }
        }
    }
    
}

@media screen and (max-width:767px) {
    .resp {
        &_intro {
            &_text {
                padding: 45px 30px;
            }
        }
    }
    .policy-pic {
        margin-top: 200px;
    }
    
}

@media screen and (max-width:575px) {
    .resp {
        &_intro {
            &_pic {
                // padding-bottom: 100%;
            }
            &_text {
                width: 100%;
                position: static;
                transform: none;
                margin: 0 auto;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .policy-pic {
        margin-top: 30px;
        // margin-bottom: 80px;
    }
}

@media screen and (max-width:400px) {
    .resp {
        &_intro {
            &_text {
                // padding-top: 30px;
                padding-bottom: 30px;
                p {
                    font-size: 14px;
                }
            }
        }
    }
}