@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$font-lato:'Lato', sans-serif;
$main-color:#007934;
$second-color:#37B04A;
$third-color:#485563;
$forth-color:#323E48;
$main-deep:#6D6D6D;
$color-nav:#6A737B;
$transition-main:0.4s ease-out;

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: $main-deep;
    letter-spacing: 0.05em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $main-deep;
    text-decoration: none;
    &:hover {
        color: $main-deep;
        text-decoration: none;
    }
}

input, button {
    background-color: transparent;
    border: 0;
    outline: none;
}

main {
    padding-top: 100px;
    overflow: hidden;
}

.btn {
    &-more {
        display: block;
        padding: 10px 40px;
        border: 1px solid $third-color;
        color: $third-color;
        width: fit-content;
        position: relative;
        transition: $transition-main;
        img, svg {
            width: 8px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            transition: $transition-main;
        }
        img {
            &.normal {

            }
            &.hover {
                opacity: 0;
            }
        }
        &:hover {
            background-color: #fff;
            border-color: $third-color;
            color: $third-color;
            
        }
        &-point {
            &:hover {
                background-color: $third-color;
                color: #fff;
                img {
                    &.normal {
                        opacity: 0;
                    }
                    &.hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    main {
        padding-top: 80px;
    }
}