.footer {
    background-color: #3B4854;
    .container {
        padding: 60px 15px 100px;
        // padding-top: 60px;
        // padding-bottom: 100px;
    }
    &_logo {
        width: 200px;
        margin-bottom: 30px;
    }
    &_nav {
        padding-left: 90px;
        padding-bottom: 100px;
        border-bottom: 1px solid #fff;
    }
    &_item {
        h4 {
            font-size: 18px;
            color: #fff;
            margin: 0 0 8px;
            font-weight: 300;
        }
        ul {
            li {
                margin-bottom: 8px;
                a {
                    color: #A6ACB1;
                    font-weight: 300;
                    transition: 0.3s;
                    &:hover {
                        color: $main-color;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &_copyright {
        color: #fff;
        text-align: center;
        margin: 0;
        font-weight: 300;
        margin-top: 10px;
    }
    &_top {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        position: absolute;
        top: 0;
        right: 15px;
        cursor: pointer;
        img {
            width: 8px;
            transform: rotate(-90deg);
        }
    }
}

.btn-gear {
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 5;
    &_inner {
        position: relative;
        width: 80px;
        height: 80px;
        background-color: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            &.icon {
                &-gear {
                    width: 80%;
                }
                &-cross {
                    width: 20px;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .footer {
        &_nav {
            padding-left: 45px;
        }
    }
}

@media screen and (max-width:991px) {
    .footer {
        .container {
            padding: 80px 15px 40px;
        }
        &_copyright {
            color: #A6ACB1;
        }
    }
}

@media screen and (max-width:575px) {
    .footer {
        &_copyright {
            font-size: 14px;
        }
        &_top {
            right: 30px;
        }
    }
}