.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    background-color: #fff;
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    &_logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &_nav {
        height: 100%;
        &_first {
            height: 100%;
            >li {
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                >a {
                    color: #231815 !important;
                    display: block;
                    padding: 0 10px;
                    transition: $transition-main;
                    img {
                        width: 25px;
                        &.icon {
                            &-search {
                                width: 23px;
                            }
                            &-mail {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
        &_second {
            position: fixed;
            width: 100vw;
            top: 100px;
            left: 0;
            z-index: 5;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            &_content {
                background-color: $color-nav;
                padding: 40px 20px;
                color: #fff;
                >ul {
                    width: calc(100% / 5);
                    position: relative;
                    >li {
                        width: fit-content;
                        margin: 0 auto;
                        h4 {
                            font-size: 18px;
                            letter-spacing: 0.05em;
                            margin: 0 0 10px;
                            font-weight: 400;
                            a {
                                transition: $transition-main;
                                &:hover {
                                    color: $second-color;
                                }
                            }
                        }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: #fff;
                        top: 3px;
                        right: 0;
                    }
                    &:first-child {
                        &::before {
                            position: absolute;
                            content: "";
                            width: 1px;
                            height: 15px;
                            background-color: #fff;
                            top: 3px;
                            left: 0;
                        }
                    }
                }
                a {
                    color: #fff;
                }
            }
        }
        &_third {
            li {
                margin-bottom: 4px;
            }
            a {
                transition: $transition-main;
                font-weight: 300;
                &:hover {
                    color: $second-color;
                }
            }
        }
        &_text {
            position: relative;
            margin-left: 15px;
            &:first-child {
                margin-left: 0;
            }
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, #4EA16E, #007934);
                z-index: -1;
                left: 0;
                bottom: 100%;
                transition: $transition-main;
            }
            &::after {
                position: absolute;
                content: "";
                width: 50%;
                height: 4px;
                background-color: #fff;
                // bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                bottom: 100%;
                transition: $transition-main;
            }
            &:hover {
                >a {
                    color: #fff !important;
                }
                &::before {
                    bottom: 0;
                }
                &::after {
                    bottom: 15px;
                }
                .header_nav_second {
                    display: block;
                }
            }
        }
    }
    &_nav-m {
        width: 100vw;
        position: fixed;
        height: calc(100vh - 80px);
        top: 80px;
        background-color: #fff;
        transition: $transition-main;
        z-index: 20;
        right: 100vw;
        >ul {
            padding: 40px 0;
            >li {
                margin-bottom: 20px;
            }
        }
        &_title {
            margin-bottom: 6px;
            padding: 0 40px;
            h4 {
                font-size: 20px;
                color: #231815;
                margin: 0;
                transition: $transition-main;
            }
            img {
                width: 15px;
                // transform: scaleY(-1);
                transition: $transition-main;
                margin-left: 8px;
            }
            &.active {
                h4 {
                    color: $main-color;
                }
                img {
                    transform: rotate(180deg);
                }
            }
        }
        &_dropdown {
            // display: none;
            padding: 10px 20px 10px 50px;
            background-color: #EFEFEE;
            display: none;
            li {
                // margin-bottom: 10px;
                padding-left: 10px;
                a {
                    // color: #fff;
                    color: #231815 !important;
                }
                >a {
                    font-size: 18px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-second {
                margin-top: 10px;
                display: none;
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                a {
                    font-size: 16px;
                }
            }
            &_title {
                transition: 0.3s;
                &.active {
                    color: $main-color !important;
                }
            }
            &_item {
                margin-bottom: 13px;
            }
        }
        &_top {
            height: calc(100vh - 80px - 200px);
            overflow-y: auto;
        }
        &_bottom {
            background-color: $color-nav;
            padding: 20px 40px;
            .container {
                padding: 0;
            }
        }
        .header_search {
            max-width: none;
            margin: 0 0 30px;
        }
        .icon-email {
            width: 30px;
            margin-right: 20px;
        }
        &.active {
            right: 0;
        }
        &_lang {
            a {
                color: #fff;
                display: block;
                padding: 0 15px;
                position: relative;
                &::after {
                    width: 1px;
                    height: 15px;
                    position: absolute;
                    content: "";
                    top: 5px;
                    right: 0;
                    background-color: #fff;
                }
                &:first-child {
                    &::before {
                        width: 1px;
                        height: 15px;
                        position: absolute;
                        content: "";
                        top: 5px;
                        left: 0;
                        background-color: #fff;
                    }
                }
            }
        }
        &_contact {
            padding: 10px 50px;
            background-color: #fff;
            border-radius: 100px;
            width: fit-content;
            margin: 20px auto 0;
            span {
                color: $color-nav;
                font-size: 18px;
                margin-right: 10px;
            }
            svg {
                width: 30px;
                .cls-1 {
                    stroke: $color-nav;
                }
            }
        }
    }
    &_search {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        height: 45px;
        background-color: #fff;
        input {
            width: calc(100% - 60px);
            height: 100%;
            padding: 5px 10px;
        }
        button {
            width: 60px;
            position: relative;
            height: 100%;
            img {
                width: 40%;
                transform: translateY(-2px);
            }
            &::before {
                width: 2px;
                height: 20px;
                background-color: $color-nav;
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &_lang {
        color: #fff;
        transform: translateY(2px);
        &_active {
            border-radius: 100px;
            padding: 3px 10px;
            background-color: #C9CACD;
            cursor: pointer;
            span {
                font-size: 15px;
            }
            img {
                width: 11px;
                margin-left: 5px;
            }
        }
        &_dropdown {
            top: calc(100% + 5px);
            left: 0;
            width: 100%;
            border-radius: 8px;
            padding: 5px 10px;
            background-color: #C9CACD;
            display: none;
            li {
                margin-bottom: 3px;
                a {
                    color: #fff;
                    font-size: 15px;
                    transition: $transition-main;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
    &-m {
        position: fixed;
        width: 100vw;
        height: 80px;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        background-color: #fff;
        z-index: 50;
        .container {
            height: 100%;
        }
        &_icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
            }
        }
        &_menu {
            height: 100%;
            width: 60px;
            // background-color: $main-color;
            position: relative;
            .bar {
                width: 28px;
                height: 1px;
                background-color: $forth-color;
                position: absolute;
                left: 50%;
                top: 50%;
                &-top {
                    transform: translate(-50%, calc(-50% - 9px));
                }
                &-middle {
                    transform: translate(-50%, -50%);
                }
                &-bottom {
                    transform: translate(-50%, calc(-50% + 9px));
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .header {
        height: 60px;
        .container {
            max-width: none;
            // padding: 0 0 0 20px;
        }
    }
}

@media screen and (max-width:400px) {
    .header {
        &_logo {
            width: 150px;
        }
    }
}